.jumbotron {
    border-radius: 2px;
    background-image: url("https://scontent-dfw5-1.cdninstagram.com/vp/8f0b41f11d92f834f75f92f90b8785aa/5B84DF4C/t51.2885-15/e35/18949620_1208905802568991_5668383509526347776_n.jpg");
    background-size: 50%;
    background-repeat: repeat-x;
    margin-top: 60px;
    height: 260px;
    color: whitesmoke;
    text-align: center;
}

h1{
    text-align: center;
    position: absolute;
    top: 140px;
    left: 21%;
    font-size: 35px;
    width: 60%;
}